/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1d9d21;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;  /* Ensures that any overflow will be scrollable */
  max-height: 90vh;  /* Limits the height of the form */
}

h1 {
  color: #d5eeef; /* Heading color */
  font-size: 2em;
  margin-bottom: 20px;
}

label {
  color: #fff;
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"], input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ffff00;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6954d;
}

.file-upload {
  margin-bottom: 15px;
}

#status p {
  text-align: left;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  input[type="text"], input[type="file"], button {
    font-size: 1em;
  }

  .container {
    padding: 15px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}